# On ignore certaines chose pour tester que ça ne marche pas que chez moi
# le dossier de documentation
docs/pyPack

# le dossier où sont copiés les images eps
exercices_corrections_

# le dossier où sont générés les PDFS
exercices_corrections_pdf

# le dossier où sont générés les PDFS ajustés
exercices_corrections_pdf_crop

# le dossier où sont générés les png_jpg ajustés
exercices_corrections_png

# le dossier où sont générés les eps
exercices_corrections_eps

# le dossier qui accueil les sources text des exos découpés 
exercices_corrections_tex/
# le dossier qui accueil les sources tex autonomes
exercices_corrections_tex_autonome

# Les pagesWeb
pagesWeb

# toutes les extensions inutiles du dossier tex à compiler
tex_a_compiler/*.aux
tex_a_compiler/*.dvi
tex_a_compiler/*.log
tex_a_compiler/*.out
tex_a_compiler/*.pdf
tex_a_compiler/*.png
tex_a_compiler/*.ps 
tex_a_compiler/*.tex 

# on ignore les zip
*.zip

#On ignore le dossier avec ce qui est finalisé
0_ProjetBrevetGitHub

#On ignore le dossier avec les sources modifiées
0_ProjetBrevetLaTeX_sourcesDV
